name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '21 4 * * *' # every day at 4:21 AM UTC

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: rust-toolchain
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
      - name: Build
        run: cargo build --verbose
      - name: Run unit tests
        run: cargo test --verbose
      - name: Run integration tests
        run: cargo test --test '*' -- --include-ignored
